parameters:
    level: 5
    paths:
        - Api
        - Block
        - Controller
        - Helper
        - Model
        - Observer
        - Plugin
        - Service
        - Setup
        - Gateway
    excludePaths:
        - vendor
        - Test
        - var
    ignoreErrors:
        # Magento framework specific errors
        - '#Call to an undefined method.*::(get|set).*\(\)#'
        - '#Access to an undefined property .*::\$.*#'
        - '#Cannot call method.*on.*\|null#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false