/* ==================== Buckaroo / Buckaroo -  Navigation Logo - Top Menu ==================== */
.buckaroo-config-page .page-main-actions .page-actions .page-actions-inner:after {
    background-image: url(../images/buckaroo_config_logo_black.png) !important;
    background-repeat: no-repeat;
    content: ' ';

    width: 160px;
    float: right;
    height: 30px;
    margin-top: 8px;
    background-size: auto 29px;

    /*
    * Remove _beta if extension isn't beta anymore.
    * background-size 30px if not beta version.
    * width: 160px if not beta
    */
}

/* ==================== Buckaroo / Buckaroo -  Navigation Logo - Left Menu ==================== */

.buckaroo-section .admin__page-nav-link:before {
    float:left;
    width: calc(100% - 50px) ;
    height: 18px;
    content: ' ';

    background-image: url(../images/buckaroo_small_black.png) !important;
    background-position :0 2px;
    background-repeat:no-repeat;
    background-size: auto 13px;
 }

.buckaroo-section .admin__page-nav-link {
    text-indent: -999px;
    padding: 2rem 1rem 2rem 1rem;
}

/* ======================= Identity ======================= */

.buckaroo-config-page #container:before  {
    background-image: url(../images/buckaroo_config_logo_black.png) !important;
    background-repeat: no-repeat;
    content: ' ';

    float:left;
    height: 50px;
    background-size: auto 50px;
     width: 295px;
}

/* ==================== Buckaroo Active/Inactive Payments Feedback ==================== */

.section-config {
    box-sizing:border-box;
    padding-left: 10px;
}

.section-config.payment_method_payment_method_active.payment_method_live{
    border-left:5px solid #49AB43;
}

.section-config.payment_method_payment_method_active.payment_method_test{
    border-left:5px solid #FFC107;
}

.section-config.payment_method_payment_method_inactive{
    border-left:5px solid #CCCCCC;
}

/* ==================================== SupportTab - Default styling ==================================== */

h3.bk-h3 {
    font-size: 1.5em;
    margin: 28px 0 10px;
}
.bk-hr-line {
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    border: none;
    padding: 0;
    margin: 28px 0 10px;
}
.bk-supported-versions {
    max-width: 300px;
}
.bk-installed-version {
    max-width: 450px;
}
.bk-flex-basis-33 {
    flex-basis: 33.33%; 
}

.bk-flex-basis-66 {
    flex-basis: 66.66%; 
}

.bk-flex-basis-50 {
    flex-basis: 50%; 
}

.bk-mb-5px {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.bk-mt-10px {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.bk-ml-10px {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.bk-installed-version  p {
   margin: 0;
   padding: 0;
}
a.bk-btn {
    background: #d2ce27;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}
a.bk-btn:hover {
    text-decoration:none;
    color: #fefefe;
}
.bk-flex {
    display: flex;
}
.bk-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bk-plugin-zone {
    text-decoration: none;
}
.bk-plugin-zone-wrap {
    max-width: 400px;
}
.bk-php-compatibility {
    max-height: 17px;
    margin-left: 5px;
}

/* ==================================== SupportTab - Error message ==================================== */

.buckaroo-magento2-supporttab .message-system-inner {
    border-top: 1px solid #d1d1d1;
    margin-bottom: 25px;
    margin-left: -40px;
}

.buckaroo-magento2-supporttab .message-system-inner .italic {
    font-style: italic;
}

/* ==================================== Payment Methods - Legend ==================================== */

.section-config.with-button.buckaroo_magento2-section .config-heading strong { font-weight: normal; }
.buckaroo_magento2-section .button-container { float:right; }
.buckaroo_magento2-section .buckaroo-payment-byline { display: inline-block; vertical-align: middle; width: 50%; }

.buckaroo_magento2-section .buckaroo-payment-logo {
    display:inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    width: 180px;
    height:60px;
    background-repeat: no-repeat;
    background-image: url(../images/buckaroo_config_logo_black.png) !important;
    background-size: 180px;
    background-position: 0 14px;
}

.buckaroo_magento2-section.active .block-legend {
    display :block;
}

.buckaroo_magento2-section fieldset.admin__collapsible-block {
    float:left;
    width: 100%;
    clear: both;
}

.block-legend h3 {
    cursor: auto !important;
    color: black;
    font-size: 18px;
}

.block-legend {
    display :none;
    float: left;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    clear: both;
}

.block-legend #legend {
    margin-left: 0;
    position: relative;
    list-style: none;
}

.block-legend #legend li {
    margin-bottom: 10px;
}

.disabled span.text,
.live span.text,
.test span.text {
    margin-right: 15px;
    font-weight: 600;
}

.disabled{
    border-left: 5px solid #CCCCCC;
    padding-left: 10px;
}

.live {
    border-left: 5px solid #49AB43;
    padding-left: 10px;
}

.test {
    border-left: 5px solid #FFC107;
    padding-left: 10px;
}

.advanced span.img {
    display:block;
    float:left;
    margin-top: 2px; margin-right:10px;
    border: 6px solid;
    border-color: transparent transparent transparent #ff2e31;
    width:0;
    height:0;
}

.sort_creditcard {
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}

.sort_creditcard:hover {
    cursor: pointer;
    background-color: #c8c8c8;
}

.creditcard_sort_wrapper {
    width: 100%;
    border: 1px solid #adadad;
    list-style: 'none'
}

.sort_giftcards {
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}

.sort_giftcards:hover {
    cursor: pointer;
    background-color: #c8c8c8;
}

.giftcards_sort_wrapper {
    width: 100%;
    border: 1px solid #adadad;
    list-style: 'none'
}

.sortable_disable{
    background-color: #e9e9e9;
    border-color: #adadad;
    color: #303030;
    opacity: .5;
    cursor: not-allowed;
}