
.bk-payment-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 5px;;
}
.bk-img-wrap {
    width: 35px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.buckaroo_magento2_payment_mpi_status ul li {
    list-style: square;
    padding-left: 0;
    margin-left: 30px;
    text-transform: capitalize;
}


@media screen and (max-width: 768px){
    .admin__page-section-item.order-billing-address,
    .admin__page-section-item.order-payment-method {
        float:left;
        width: 100%;
        clear: both;
    }
    .admin__page-section-item.order-shipping-address,
    .admin__page-section-item.order-shipping-method
    {
        float:left;
        width: 100%;
        clear: both;
        margin-top: 20px;
    }
}

/* ===================== Creditmemo create -  Warning message regarding rounding errors ======================= */
.buckaroo-magento2-warning-message {
    text-align: justify;
    margin-top: 3rem;
}
