
.order-payment-method-title + .order-payment-currency {
    float:left;
    clear:both;
    width:100%;
}

.order-payment-method-title div {
    float:left;
    clear:both;
    width:100%;
}

.buckaroo_magento2_payment_mpi_status ul li {
    list-style: square;
    padding-left: 0;
    margin-left: 30px;
    text-transform: capitalize;
}


@media screen and (max-width: 768px){
    .admin__page-section-item.order-billing-address,
    .admin__page-section-item.order-payment-method {
        float:left;
        width: 100%;
        clear: both;
    }
    .admin__page-section-item.order-shipping-address,
    .admin__page-section-item.order-shipping-method
    {
        float:left;
        width: 100%;
        clear: both;
        margin-top: 20px;
    }
}

/* ============================ Order Overview -  Payment Method Styling ============================ */

.buckaroo_magento2_payment_paypal,
.buckaroo_magento2_payment_ideal,
.buckaroo_magento2_payment_idealprocessing,
.buckaroo_magento2_payment_creditcard,
.buckaroo_magento2_payment_sepadirectdebit,
.buckaroo_magento2_payment_transfer,
.buckaroo_magento2_payment_mrcash,
.buckaroo_magento2_payment_sofortbanking,
.buckaroo_magento2_payment_alipay,
.buckaroo_magento2_payment_wechatpay,
.buckaroo_magento2_payment_p24,
.buckaroo_magento2_payment_trustly,
.buckaroo_magento2_payment_giropay,
.buckaroo_magento2_payment_afterpay,
.buckaroo_magento2_payment_afterpay2,
.buckaroo_magento2_payment_payperemail,
.buckaroo_magento2_payment_paymentguarantee,
.buckaroo_magento2_payment_giftcards,
.buckaroo_magento2_payment_eps,
.buckaroo_magento2_payment_kbc,
.buckaroo_magento2_payment_emandate,
.buckaroo_magento2_payment_applepay,
.buckaroo_magento2_payment_card_mastercard,
.buckaroo_magento2_payment_card_maestro,
.buckaroo_magento2_payment_card_amex,
.buckaroo_magento2_payment_card_visa,
.buckaroo_magento2_payment_card_visaelectron,
.buckaroo_magento2_payment_card_vpay,
.buckaroo_magento2_payment_card_cartebleuevisa,
.buckaroo_magento2_payment_card_cartebancaire,
.buckaroo_magento2_payment_card_dankort,
.buckaroo_magento2_payment_card_nexi,
.buckaroo_magento2_payment_klarnakp,
.buckaroo_magento2_payment_capayablein3,
.buckaroo_magento2_payment_capayablepostpay,
.buckaroo_magento2_payment_pospayment
.buckaroo_magento2_payment_tinka
{
    float:left;
    width: 100%;
}

/* Afterpay */
.buckaroo_magento2_payment_afterpay:before,
.buckaroo_magento2_payment_afterpay2:before {
    background: url(../images/buckaroo_magento2_afterpay_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
    background-size: auto 20px;
    width: 100px;
    height: 30px;
    content: ' ';
}

/* PayPal */
.buckaroo_magento2_payment_paypal:before {
    background: url(../images/buckaroo_magento2_paypal_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 30px;
    width: 30px;
    height: 30px;
    content: ' ';
}

/* iDeal */
.buckaroo_magento2_payment_ideal:before,
.buckaroo_magento2_payment_idealprocessing:before {
    background: url(../images/buckaroo_magento2_ideal_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Credit Card */
.buckaroo_magento2_payment_creditcard:before {
    background: url(../images/buckaroo_magento2_creditcard_title.png) no-repeat;
    margin-top: 0;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 36px;
    height: 35px;
    content: ' ';
}

/* Sepa Direct Debit */
.buckaroo_magento2_payment_sepadirectdebit:before {
    background: url(../images/buckaroo_magento2_sepa_title.png) no-repeat;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
    background-size: auto 17px;
    width: 43px;
    height: 30px;
    content: ' ';
}

/* Bank Transfer */
.buckaroo_magento2_payment_transfer:before {
    background: url(../images/buckaroo_magento2_transfer_title.png) no-repeat;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
    background-size: auto 17px;
    width: 46px;
    height: 30px;
    content: ' ';
}

/* Mr Cash */
.buckaroo_magento2_payment_mrcash:before {
    background: url(../images/buckaroo_magento2_mrcash_title.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Sofort */
.buckaroo_magento2_payment_sofortbanking:before {
    background: url(../images/buckaroo_magento2_sofort_title.png) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 55px;
    height: 37px;
    content: ' ';
}

/* Alipay */
.buckaroo_magento2_payment_alipay:before {
    background: url(../images/buckaroo_magento2_alipay_title.jpg) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 37px;
    height: 37px;
    content: ' ';
}

/* Wechatpay */
.buckaroo_magento2_payment_wechatpay:before {
    background: url(../images/buckaroo_magento2_wechatpay_title.jpg) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 55px;
    height: 37px;
    content: ' ';
}

/* P24 */
.buckaroo_magento2_payment_p24:before {
    background: url(../images/buckaroo_magento2_p24_title.png) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 37px;
    height: 37px;
    content: ' ';
}

/* Trustly */
.buckaroo_magento2_payment_trustly:before {
    background: url(../images/buckaroo_magento2_trustly_title.png) no-repeat;
    margin-top: -4px;
    float: left;
    margin-right: 10px;
    background-size: auto 24px;
    width: 78px;
    height: 34px;
    content: ' ';
}

/* Rtp */
.buckaroo_magento2_payment_rtp:before {
    background: url(../images/buckaroo_magento2_rtp_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 30px;
    width: 30px;
    height: 30px;
    content: ' ';
}

/* Giropay */
.buckaroo_magento2_payment_giropay:before {
    background: url(../images/buckaroo_magento2_giropay_title.png) no-repeat;
    margin-top        :2px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 17px;
    width             :40px;
    height            :30px;
    content           :' ';
}

/* EPS */
.buckaroo_magento2_payment_eps:before {
    background: url(../images/buckaroo_magento2_eps_title.png) no-repeat;
    margin-top        :-1px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :35px;
    height            :30px;
    content           :' ';
}

/* PaymentGuarantee */
.buckaroo_magento2_payment_paymentguarantee:before {
    background: url(../images/buckaroo_magento2_paymentguarantee_title.png) no-repeat;
    float             : left;
    margin-right      : 10px;
    margin-top        : -2px;
    width             : 68px;
    height            : 26px;
    background-size   : auto 23px;
    content            : ' ';
}

/* Payconiq */
.buckaroo_magento2_payment_payconiq:before {
    background: url(../images/buckaroo_magento2_payconiq_title.png) no-repeat;
    float             : left;
    margin-right      : 10px;
    margin-top        : -2px;
    width             : 137px;
    height            : 26px;
    background-size   : auto 20px;
    content            : ' ';
}

/* KBC */
.buckaroo_magento2_payment_kbc:before {
    background: url(../images/buckaroo_magento2_kbc_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 26px;
    width: 39px;
    height: 31px;
    content: ' ';
    display :block;
}

/* Klarna */
.buckaroo_magento2_payment_klarnakp:before {
    background: url(../images/buckaroo_magento2_klarnakp_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 40px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Emandate */
.buckaroo_magento2_payment_emandate:before {
    background: url(../images/buckaroo_magento2_emandate_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Apple Pay */
.buckaroo_magento2_payment_applepay:before {
    background: url(../images/buckaroo_magento2_applepay_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Capayavle */
.buckaroo_magento2_payment_capayablein3:before,
.buckaroo_magento2_payment_capayablepostpay:before {
    background: url(../images/buckaroo_magento2_capayable_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    background-size: auto 30px;
    width: 62px;
    height: 31px;
    content: ' ';
    display :block;
}

/* pospayment */
.buckaroo_magento2_payment_pospayment:before {
    background: url(../images/buckaroo_magento2_pospayment_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 26px;
    width: 73px;
    height: 31px;
    content: ' ';
    display :block;
}

/* tinka */
.buckaroo_magento2_payment_tinka:before {
    background: url(../images/buckaroo_magento2_tinka_title.svg) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 26px;
    width: 83px;
    height: 31px;
    content: ' ';
    display :block;
}

/* ===================== Order Overview -  Credit Card / Debit Card Method Styling ======================= */

.buckaroo_magento2_payment_card_mastercard:before {
    background: url(../images/creditcard/ico-mc.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_maestro:before {
    background: url(../images/creditcard/ico-mae.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_amex:before {
    background: url(../images/creditcard/ico-ae.png) no-repeat;
    margin-top: -3px;
    float: left;
    margin-right: 7px;
    background-size: auto 27px;
    width: 40px;
    height: 28px;
    content: ' ';
}

.buckaroo_magento2_payment_card_visa:before {
    background: url(../images/creditcard/ico-vi.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_visaelectron:before {
    background: url(../images/creditcard/ico-ve.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_vpay:before {
    background: url(../images/creditcard/ico-vp.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_cartebleuevisa:before {
    background: url(../images/creditcard/ico-cbl.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_cartebancaire:before {
    background: url(../images/creditcard/ico-cb.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_dankort:before {
    background: url(../images/creditcard/ico-da.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.buckaroo_magento2_payment_card_nexi:before {
    background: url(../images/creditcard/ico-nx.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

/* giftcards */

.buckaroo_magento2_payment_allgiftcards:before {
    background: url(../images/buckaroo_magento2_ajaxgiftcard_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_ajaxgiftcard:before {
    background: url(../images/buckaroo_magento2_ajaxgiftcard_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_vvvgiftcard:before {
    background: url(../images/buckaroo_magento2_vvvgiftcard_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_boekenbon:before {
    background: url(../images/buckaroo_magento2_boekenbon_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_fashioncheque:before {
    background: url(../images/buckaroo_magento2_fashioncheque_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_yourgift:before {
    background: url(../images/buckaroo_magento2_yourgift_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

.buckaroo_magento2_payment_webshopgiftcard:before {
    background: url(../images/buckaroo_magento2_webshopgiftcard_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    background-size: auto 23px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* ===================== Creditmemo create -  Warning message regarding rounding errors ======================= */
.buckaroo-magento2-warning-message {
    text-align: justify;
    margin-top: 3rem;
}
