
.order-payment-method-title + .order-payment-currency {
    float:left;
    clear:both;
    width:100%;
}

.order-payment-method-title div {
    float:left;
    clear:both;
    width:100%;
}

.tig_buckaroo_payment_mpi_status ul li {
    list-style: square;
    padding-left: 0;
    margin-left: 30px;
    text-transform: capitalize;
}


@media screen and (max-width: 768px){
    .admin__page-section-item.order-billing-address,
    .admin__page-section-item.order-payment-method {
        float:left;
        width: 100%;
        clear: both;
    }
    .admin__page-section-item.order-shipping-address,
    .admin__page-section-item.order-shipping-method
    {
        float:left;
        width: 100%;
        clear: both;
        margin-top: 20px;
    }
}

/* ============================ Order Overview -  Payment Method Styling ============================ */

.tig_buckaroo_payment_paypal,
.tig_buckaroo_payment_ideal,
.tig_buckaroo_payment_idealprocessing,
.tig_buckaroo_payment_creditcard,
.tig_buckaroo_payment_sepadirectdebit,
.tig_buckaroo_payment_transfer,
.tig_buckaroo_payment_mrcash,
.tig_buckaroo_payment_sofortbanking,
.tig_buckaroo_payment_alipay,
.tig_buckaroo_payment_wechatpay,
.tig_buckaroo_payment_giropay,
.tig_buckaroo_payment_afterpay,
.tig_buckaroo_payment_afterpay2,
.tig_buckaroo_payment_payperemail,
.tig_buckaroo_payment_paymentguarantee,
.tig_buckaroo_payment_giftcards,
.tig_buckaroo_payment_eps,
.tig_buckaroo_payment_kbc,
.tig_buckaroo_payment_emandate,
.tig_buckaroo_payment_applepay,
.tig_buckaroo_payment_card_mastercard,
.tig_buckaroo_payment_card_maestro,
.tig_buckaroo_payment_card_amex,
.tig_buckaroo_payment_card_visa,
.tig_buckaroo_payment_card_visaelectron,
.tig_buckaroo_payment_card_vpay,
.tig_buckaroo_payment_card_cartebleuevisa,
.tig_buckaroo_payment_card_cartebancaire,
.tig_buckaroo_payment_card_dankort,
.tig_buckaroo_payment_card_nexi,
.tig_buckaroo_payment_klarna,
.tig_buckaroo_payment_capayablein3,
.tig_buckaroo_payment_capayablepostpay
{
    float:left;
    width: 100%;
}

/* Afterpay */
.tig_buckaroo_payment_afterpay:before,
.tig_buckaroo_payment_afterpay2:before {
    background: url(../images/tig_buckaroo_afterpay_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
    background-size: auto 20px;
    width: 100px;
    height: 30px;
    content: ' ';
}

/* PayPal */
.tig_buckaroo_payment_paypal:before {
    background: url(../images/tig_buckaroo_paypal_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 30px;
    width: 30px;
    height: 30px;
    content: ' ';
}

/* iDeal */
.tig_buckaroo_payment_ideal:before,
.tig_buckaroo_payment_idealprocessing:before {
    background: url(../images/tig_buckaroo_ideal_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Credit Card */
.tig_buckaroo_payment_creditcard:before {
    background: url(../images/tig_buckaroo_creditcard_title.png) no-repeat;
    margin-top: 0;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 36px;
    height: 35px;
    content: ' ';
}

/* Sepa Direct Debit */
.tig_buckaroo_payment_sepadirectdebit:before {
    background: url(../images/tig_buckaroo_sepa_title.png) no-repeat;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
    background-size: auto 17px;
    width: 43px;
    height: 30px;
    content: ' ';
}

/* Bank Transfer */
.tig_buckaroo_payment_transfer:before {
    background: url(../images/tig_buckaroo_transfer_title.png) no-repeat;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
    background-size: auto 17px;
    width: 46px;
    height: 30px;
    content: ' ';
}

/* Mr Cash */
.tig_buckaroo_payment_mrcash:before {
    background: url(../images/tig_buckaroo_mrcash_title.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Sofort */
.tig_buckaroo_payment_sofortbanking:before {
    background: url(../images/tig_buckaroo_sofort_title.png) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 55px;
    height: 37px;
    content: ' ';
}

/* Alipay */
.tig_buckaroo_payment_alipay:before {
    background: url(../images/tig_buckaroo_alipay_title.jpg) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 37px;
    height: 37px;
    content: ' ';
}

/* Wechatpay */
.tig_buckaroo_payment_wechatpay:before {
    background: url(../images/tig_buckaroo_wechatpay_title.jpg) no-repeat;
    margin-top: -7px;
    float: left;
    margin-right: 10px;
    background-size: auto 37px;
    width: 55px;
    height: 37px;
    content: ' ';
}

/* Giropay */
.tig_buckaroo_payment_giropay:before {
    background: url(../images/tig_buckaroo_giropay_title.png) no-repeat;
    margin-top        :2px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 17px;
    width             :40px;
    height            :30px;
    content           :' ';
}

/* EPS */
.tig_buckaroo_payment_eps:before {
    background: url(../images/tig_buckaroo_eps_title.png) no-repeat;
    margin-top        :-1px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :35px;
    height            :30px;
    content           :' ';
}

/* PaymentGuarantee */
.tig_buckaroo_payment_paymentguarantee:before {
    background: url(../images/tig_buckaroo_paymentguarantee_title.png) no-repeat;
    float             : left;
    margin-right      : 10px;
    margin-top        : -2px;
    width             : 68px;
    height            : 26px;
    background-size   : auto 23px;
    content            : ' ';
}

/* Payconiq */
.tig_buckaroo_payment_payconiq:before {
    background: url(../images/tig_buckaroo_payconiq_title.png) no-repeat;
    float             : left;
    margin-right      : 10px;
    margin-top        : -2px;
    width             : 137px;
    height            : 26px;
    background-size   : auto 20px;
    content            : ' ';
}

/* KBC */
.tig_buckaroo_payment_kbc:before {
    background: url(../images/tig_buckaroo_kbc_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 26px;
    width: 39px;
    height: 31px;
    content: ' ';
    display :block;
}

/* Klarna */
.tig_buckaroo_payment_klarna:before {
    background: url(../images/tig_buckaroo_klarna_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 40px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Emandate */
.tig_buckaroo_payment_emandate:before {
    background: url(../images/tig_buckaroo_emandate_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Apple Pay */
.tig_buckaroo_payment_applepay:before {
    background: url(../images/tig_buckaroo_applepay_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 30px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Capayavle */
.tig_buckaroo_payment_capayablein3:before,
.tig_buckaroo_payment_capayablepostpay:before {
    background: url(../images/tig_buckaroo_capayable_title.png) no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    background-size: auto 30px;
    width: 62px;
    height: 31px;
    content: ' ';
    display :block;
}

/* ===================== Order Overview -  Credit Card / Debit Card Method Styling ======================= */

.tig_buckaroo_payment_card_mastercard:before {
    background: url(../images/creditcard/ico-mc.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
 }

.tig_buckaroo_payment_card_maestro:before {
    background: url(../images/creditcard/ico-mae.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_amex:before {
    background: url(../images/creditcard/ico-ae.png) no-repeat;
    margin-top: -3px;
    float: left;
    margin-right: 7px;
    background-size: auto 27px;
    width: 40px;
    height: 28px;
    content: ' ';
}

.tig_buckaroo_payment_card_visa:before {
    background: url(../images/creditcard/ico-vi.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_visaelectron:before {
    background: url(../images/creditcard/ico-ve.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
 }

.tig_buckaroo_payment_card_vpay:before {
    background: url(../images/creditcard/ico-vp.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_cartebleuevisa:before {
    background: url(../images/creditcard/ico-cbl.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_cartebancaire:before {
    background: url(../images/creditcard/ico-cb.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_dankort:before {
    background: url(../images/creditcard/ico-da.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

.tig_buckaroo_payment_card_nexi:before {
    background: url(../images/creditcard/ico-nx.png) no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 7px;
    background-size: auto 23px;
    width: 40px;
    height: 23px;
    content: ' ';
}

/* ===================== Creditmemo create -  Warning message regarding rounding errors ======================= */
.tig-buckaroo-warning-message {
    text-align: justify;
    margin-top: 3rem;
}
