<div class="buckaroo_magento2_mrcash payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice bk-payment">
        <div class="bk-payment-wrap">
            <div class="bk-radio-wrap">
                <input type="radio"
                       name="payment[method]"
                       class="radio"
                       data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
                <label class="label" data-bind="attr: {'for': getCode()}" >
                        <!-- ko text: getTitle() --><!-- /ko -->
                        <!-- ko if: paymentDescription !== null && paymentDescription.length > 0 -->
                        <p class="bk-description" data-bind="text: paymentDescription"></p>
                        <!-- /ko -->
                </label>
            </div>
            <div class="bk-img-wrap">
                <img data-bind="attr: { src: require.toUrl('Buckaroo_Magento2/images/svg/bancontact.svg') }" />
            </div>
        </div>
    </div>

    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: useClientSide -->

        <div class="payment-method-second-col billing-address-form">

            <input id="buckaroo_magento2_mrcash_clientSideModeCc" class="bank-types-input" type="radio" checked="checked"
                   data-bind="click: setClientSideMode.bind($data, 'cc')" name="payment[buckaroo_magento2_mrcash][clientsidemode]">
            <label for="buckaroo_magento2_mrcash_clientSideModeCc"><span data-bind="i18n: 'Bancontact card'"></span></label>
            <br>

            <!-- ko if: isCcMode -->
            <form data-bind="mageInit: { 'validation': [] },
                  attr: {'data-hasrequired': $t('* Required Fields')}" id="buckaroo_magento2_mrcash_clientSideModeCc_block">
                <fieldset class="fieldset payment card styled">

                    <div class="fieldset card_front width-100">

                        <div class="field required width-100" >
                            <label class="label" for="buckaroo_magento2_mrcash_cardholdername"> <span data-bind="i18n: 'Cardholder:'"> </span> </label>
                            <div class="control">
                                <input id="buckaroo_magento2_mrcash_cardholdername"
                                       type="text"
                                       class="input-text field"
                                       name="payment[buckaroo_magento2_mrcash][cardholdername]"
                                       data-bind="
                            valueUpdate: 'blur',
                            value: CardHolderName,
                            textInput: CardHolderName(),
                            attr: { 'data-validate': JSON.stringify({ 'required': true, 'validateCardHolderName': true }) },
                            event: { blur: encryptCardDetails }">
                            </div>
                        </div>

                        <div class="field required width-100" >
                            <label class="label" for="buckaroo_magento2_mrcash_cardnumber"> <span data-bind="i18n: 'Card number:'"> </span> </label>
                            <div class="control">
                                <input id="buckaroo_magento2_mrcash_cardnumber"
                                       type="text"
                                       class="input-text field"
                                       name="payment[buckaroo_magento2_mrcash][cardnumber]"
                                       data-bind="
                            valueUpdate: 'blur',
                            value: CardNumber,
                            textInput: CardNumber(),
                            attr: { 'data-validate': JSON.stringify({ 'required': true, 'validateCardNumber': true }) },
                            event: { blur: encryptCardDetails }">
                            </div>
                        </div>

                        <div class="field required width-50-l" >
                            <label class="label" for="buckaroo_magento2_mrcash_expirationmonth"><span data-bind="i18n: 'Month:'"></span></label>
                            <div class="control">
                                <select id="buckaroo_magento2_mrcash_expirationmonth" class="field"
                                        data-bind="value: ExpirationMonth,
                                        attr: { 'data-validate': JSON.stringify({ 'required-entry': true }) },
                                        event: { change: validateMonth }"
                                        name="payment[buckaroo_magento2_mrcash][expirationmonth]">
                                    <!-- ko foreach: months -->
                                    <option data-bind="i18n: label, 'value': value"></option>
                                    <!--/ko-->
                                </select>
                            </div>
                        </div>

                        <div class="field required width-50-r" >
                            <label class="label" for="buckaroo_magento2_mrcash_expirationyear"><span data-bind="i18n: 'Year:'"></span></label>
                            <div class="control">
                                <select id="buckaroo_magento2_mrcash_expirationyear" class="field"
                                        data-bind="value: ExpirationYear,
                                                   attr: { 'data-validate': JSON.stringify({ 'required-entry': true }) },
                                                   event: { change: validateYear, blur: validateYear },
                                                   foreach: getYears()"
                                        name="payment[buckaroo_magento2_mrcash][expirationyear]">
                                    <option data-bind="i18n: label, 'value': value"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field width-100">
                        <span data-bind="i18n: 'Please make sure all fields are filled in correctly before proceeding.' ">  </span>
                    </div>
                </fieldset>
            </form>
            <!--/ko-->

            <input id="buckaroo_magento2_mrcash_clientSideModeMobile" class="bank-types-input" type="radio"
                   data-bind="click: setClientSideMode.bind($data, 'mobile')" name="payment[buckaroo_magento2_mrcash][clientsidemode]">
            <label for="buckaroo_magento2_mrcash_clientSideModeMobile"><span data-bind="i18n: 'Bancontact QR'"></span></label>

        </div>

        <!--/ko-->

        <div class="actions-toolbar">
            <div class="primary">
                <button id="button-action-checkout-mrcash"
                        class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() }
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <!-- ko if: payWithBaseCurrency() -->
        <div class="buckaroo_magento2_currency-notification">
            <span data-bind="text: getPayWithBaseCurrencyText()"></span>
        </div>
        <!--/ko-->

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

    </div>
</div>
