<div class="buckaroo_magento2_paybybank payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice bk-payment">
        <div class="bk-payment-wrap">
            <div class="bk-radio-wrap">
                <input type="radio"
                       name="payment[method]"
                       class="radio"
                       data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
                <label class="label" data-bind="attr: {'for': getCode()}" >
                        <!-- ko text: getTitle() --><!-- /ko -->
                        <!-- ko if: buckaroo.subtext !== null && buckaroo.subtext.length > 0 -->
                       <p class="bk-description" data-bind="text:buckaroo.subtext, style: getSubtextStyle()"></p>
                        <!-- /ko -->
                </label>
            </div>
            <div class="bk-mode-and-img">
                <!-- ko if: buckaroo.isTestMode -->
                <div class="bk-test-mode"><div class="bk-test-text" data-bind="i18n: 'Test Mode'"></div></div>
                <!-- /ko -->
                <div class="bk-img-wrap">
                    <img data-bind="attr: { src: logo() }" alt="PayByBank Logo"/>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button id="button-action-checkout-paybybank"
                        class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() }
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <!-- ko if: payWithBaseCurrency() -->
        <div class="buckaroo_magento2_currency-notification">
            <span data-bind="text: getPayWithBaseCurrencyText()"></span>
        </div>
        <!--/ko-->
    </div>
</div>
