<div class="buckaroo_magento2_creditcard payment-method" data-bind="css: {'_active': (getCode() == isChecked()), 'buckaroo_magento2_flow_authorize': paymentFlow == 'authorize'}">
    <div class="payment-method-title field choice bk-payment">
        <div class="bk-payment-wrap">
            <div class="bk-radio-wrap">
                <input type="radio"
                       name="payment[method]"
                       class="radio"
                       data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
                <label class="label" data-bind="attr: {'for': getCode()}" >
                        <!-- ko text: getTitle() --><!-- /ko -->
                        <!-- ko if: subtext !== null && subtext.length > 0 -->
                       <p class="bk-description" data-bind="text: subtext, style: subTextStyle"></p>
                        <!-- /ko -->
                </label>
            </div>
            <div class="bk-img-wrap">
                <img data-bind="attr: { src: require.toUrl('Buckaroo_Magento2/images/svg/creditcards.svg') }" />
            </div>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-second-col billing-address-form" >
            <div class="fieldset payment">
                <div class="field required" >
                    <legend class="label" data-bind="i18n: 'Select a Credit Card or Debit Card:'"></legend>
                    <div class="control">

                        <!-- ko if: selectionType == '1' -->
                            <!-- ko foreach: creditcards -->
                                <label class="card-types">
                                    <img class="card-types-img" data-bind="attr: {
                                             'src': img,
                                             'width': 30,
                                             'height': 20 }"
                                            />
                                    <input class="card-types-input" type="radio" data-bind="value: code, click: $parent.setSelectedCard" data-validate="{'validate-one-required-by-name':true}" name="card"> <!-- ko text: name --><!--/ko-->
                                </label>
                            <!--/ko-->
                        <!--/ko-->

                        <!-- ko if: selectionType == '2' -->
                            <select id="buckaroo_magento2_creditcard_issuer" class="field"
                                    data-bind="value: creditcardIssuer,
                                    event: { change: setSelectedBankDropDown },
                                    attr: { 'data-validate': JSON.stringify({ 'required-entry': true }) }"
                                    name="card">
                                <option data-bind="i18n: 'Select a Credit Card or Debit Card', 'value': ''"></option>
                                <!-- ko foreach: creditcards -->
                                    <option data-bind="i18n: name, 'value': code"></option>
                                <!--/ko-->
                            </select>
                        <!--/ko-->

                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button id="button-action-checkout-creditcard"
                        class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() || !buttoncheck() }
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <!-- ko if: payWithBaseCurrency() -->
        <div class="buckaroo_magento2_currency-notification">
            <span data-bind="text: getPayWithBaseCurrencyText()"></span>
        </div>
        <!--/ko-->
    </div>
</div>
