<div class="buckaroo_magento2_sepadirectdebit payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice bk-payment">
        <div class="bk-payment-wrap">
            <div class="bk-radio-wrap">
                <input class="radio"
                       data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
                       name="payment[method]"
                       type="radio">
                <label class="label" data-bind="attr: {'for': getCode()}">
                    <!-- ko text: getTitle() --><!-- /ko -->
                    <!-- ko if: subtext !== null && subtext.length > 0 -->
                    <p class="bk-description" data-bind="text: subtext, style: subTextStyle"></p>
                    <!-- /ko -->
                </label>
            </div>
            <div class="bk-img-wrap">
                <img data-bind="attr: { src: require.toUrl('Buckaroo_Magento2/images/svg/sepa-directdebit.svg') }">
            </div>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-second-col billing-address-form">
            <form data-bind="mageInit: { 'validation': [] },
                  attr: {'data-hasrequired': $t('* Required Fields')}">
                <fieldset class="fieldset payment">

                    <div class="field required">
                        <label class="label" for="bankaccountholder">
                            <span data-bind="i18n: 'Bank account holder'"> </span>
                        </label>
                        <div class="control">
                            <input class="input-text field" data-bind="
                                    value: bankaccountholder,
                                    valueUpdate: 'keyup',
                                    attr: {
                                        'data-validate': JSON.stringify({ 'required': true, 'min-words': 2 })
                                    },
                                    event: { blur: validateField }
                                   " id="bankaccountholder"
                                   name="payment[buckaroo_magento2_sepadirectdebit][customer_account_name]"
                                   placeholder="John Doe"
                                   type="text">
                        </div>
                    </div>

                    <div class="field required">
                        <label class="label" for="bankaccountnumber">
                            <span data-bind="i18n: 'Bank account number'"> </span>
                        </label>
                        <div class="control">
                            <input class="input-text field" data-bind="
                                    value: bankaccountnumber,
                                    valueUpdate: 'keyup',
                                    attr: {
                                        'data-validate': JSON.stringify({ 'required': true, 'IBAN':true })
                                    },
                                    event: { blur: validateField }
                                   " id="bankaccountnumber"
                                   name="payment[buckaroo_magento2_sepadirectdebit][customer_iban]"
                                   placeholder="NL13TEST0123456789"
                                   type="text">
                        </div>
                    </div>

                    <!-- ko if: isnl() != true -->
                    <div class="field required">
                        <label class="label" for="bicnumber">
                            <span data-bind="i18n: 'BIC Number'"> </span>
                        </label>
                        <div class="control">
                            <input class="input-text field" data-bind="
                                    value: bicnumber,
                                    valueUpdate: 'keyup',
                                    attr: {
                                        'data-validate': JSON.stringify({ 'required': true, 'BIC':true })
                                    },
                                    event: { blur: validateField }
                                   " id="bicnumber"
                                   name="payment[buckaroo_magento2_sepadirectdebit][customer_bic]"
                                   placeholder="AAAABBCCDDD"
                                   type="text">
                        </div>
                    </div>
                    <!-- /ko -->

                    <span data-bind="i18n: 'Please enter these fields as they appear on your bank account.' "></span>

                </fieldset>
            </form>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() || !buttoncheck()}
                        "
                        disabled
                        id="button-action-checkout-sepadirectdebit"
                        type="submit">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <!-- ko if: payWithBaseCurrency() -->
        <div class="buckaroo_magento2_currency-notification">
            <span data-bind="text: getPayWithBaseCurrencyText()"></span>
        </div>
        <!--/ko-->
    </div>
</div>
