<div class="tig_buckaroo_afterpay payment-method" data-bind="click: magentoTerms(), css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="tig_buckaroo_image_title label" data-bind="attr: {'for': getCode()}"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-second-col billing-address-form">
            <form data-hasrequired="* Required Fields" data-bind="mageInit: { 'validation': [] }">
                <fieldset class="fieldset payment">

                    <div class="field required">
                        <legend class="label"> <span data-bind="i18n: 'Salutation:'"> </span> </legend>
                        <div class="control">
                            <ul id="Saluation">
                                <li>
                                    <input type="radio" id="tig_buckaroo_afterpay_genderSelectMan"
                                           data-bind="
                                           value: '1',
                                           click: setSelectedGender.bind($data, '1'),
                                           attr: { 'data-validate': JSON.stringify({ 'required': true }) },
                                           checked: genderValidate
                                           "
                                           class="field"
                                           name="payment[tig_buckaroo_afterpay][customer_gender]">
                                    <label for="tig_buckaroo_afterpay_genderSelectMan"> <span data-bind="i18n: 'Mr.' "> </span> </label>
                                </li>
                                <li>
                                    <input type="radio" id="tig_buckaroo_afterpay_genderSelectWoman"
                                           data-bind="
                                           value: '2',
                                           click: setSelectedGender.bind($data, '2'),
                                           attr: { 'data-validate': JSON.stringify({ 'required': true }) },
                                           checked: genderValidate
                                            "
                                           class="field"
                                           name="payment[tig_buckaroo_afterpay][customer_gender]">
                                    <label for="tig_buckaroo_afterpay_genderSelectWoman"> <span data-bind="i18n: 'Mrs.' "> </span> </label>
                                </li>
                            </ul>
                            <div for="gender" generated="true" class="mage-error" id="gender-error" style="display: none;"><span data-bind="i18n: 'This is a required field.'"></span> </div>
                        </div>
                    </div>

                    <div class="field required">
                        <label class="label" for="tig_buckaroo_afterpay_BillingName"> <span data-bind="i18n: 'Billing Name:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_BillingName"
                                   class="input-text field"
                                   type="text"
                                   data-bind="
                                   value: BillingName,
                                   textInput: CustomerName()"
                                   name="payment[tig_buckaroo_afterpay][customer_billingName]"
                                   disabled >
                        </div>
                    </div>

                    <!-- Default | Hide this field if phone number is already filled in. Show this field if phone number is empty -->

                    <!-- ko ifnot: hasTelephoneNumber -->
                    <div class="field required" >
                        <label class="label" for="tig_buckaroo_afterpay_Telephone"> <span data-bind="i18n: 'Telephone:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_Telephone"
                                   type="text"
                                   class="input-text field"
                                   data-bind="
                                   valueUpdate: 'keyup',
                                   value: telephoneNumber,
                                   attr: { 'data-validate': JSON.stringify({ 'required': true })}"
                                   name="payment[tig_buckaroo_afterpay][customer_telephone]">
                        </div>
                    </div>
                    <!-- /ko -->

                    <div class="field required">
                        <label class="label" for="tig_buckaroo_afterpay_DoB"> <span data-bind="i18n: 'Date of Birth:'"> </span> </label>
                        <span><sup data-bind="i18n: '(DD/MM/YYYY)' "></sup></span>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_DoB"
                                   class="field"
                                   type="text"
                                   data-bind="
                                   datepicker: {
                                        storage: dateValidate,
                                        options: {
                                            changeMonth: true,
                                            changeYear: true,
                                            yearRange: ((new Date()).getFullYear()-120) + ':' + (new Date()).getFullYear(),
                                            dateFormat: 'dd/mm/yy'
                                        }
                                   },
                                   valueUpdate: 'blur',
                                   value: dateValidate,
                                   attr: { 'data-validate': JSON.stringify({ 'required': true, 'validate-date-au': true })}"
                                   name="payment[tig_buckaroo_afterpay][customer_DoB]">
                        </div>
                    </div>

                    <!-- Show IBAN field when Acceptgiro (paymentMethod: 1) is activated in the backend -->

                    <!-- ko if: paymentMethod == '1' -->
                    <div class="field required">
                        <label class="label" for="tig_buckaroo_afterpay_IBAN"> <span data-bind="i18n: 'Bank Account Number:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_IBAN"
                                   class="input-text field"
                                   type="text"
                                   data-bind="
                                   value: bankaccountnumber,
                                   valueUpdate: 'keyup',
                                   attr: {'data-validate': JSON.stringify({ 'required': true, 'IBAN':true })}"
                                   name="payment[tig_buckaroo_afterpay][customer_iban]">
                        </div>
                    </div>
                    <!-- /ko -->


                    <!-- Show select between B2C & B2B when option 'both' (businessMethod: 3) is activated in the backend.
                         This option is only available in DigiAccept (paymentMethod: 2) -->

                    <!-- ko if: paymentMethod == '2' && businessMethod == '3'  -->
                    <div class="field">
                        <label class="label" for="tig_buckaroo_afterpay_BusinessModel"> <span data-bind="i18n: 'Business Model:'"> </span> </label>
                        <div class="control">
                            <select id="tig_buckaroo_afterpay_BusinessModel"
                                    data-bind="value: selectedBusiness"
                                    name="payment[tig_buckaroo_afterpay][selectedBusiness]">
                                <option data-bind="i18n: 'B2C - Business to Consumer'" value="1"></option>
                                <option data-bind="i18n: 'B2B - Business to Business'" value="2"></option>
                            </select>
                        </div>
                    </div>
                    <!-- /ko -->


                    <!-- Show B2B fields when DigiAccept (paymentMethod: 2) & B2B (businessMethod: 2)  are activated in the backend  ||
                         Show B2B fields when DigiAccept (paymentMethod: 2) & Both (businessMethod: 3) are activated in the backend + B2B is selected in the select above
                    -->

                    <!-- ko if: selectedBusiness() == 2 || businessMethod == '2' -->
                    <!-- ko if: paymentMethod != '1' && businessMethod != '1' -->

                    <div class="field required b2b-fields" >
                        <label class="label" for="tig_buckaroo_afterpay_COCNumber"> <span data-bind="i18n: 'COC Number:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_COCNumber"
                                   name="payment[tig_buckaroo_afterpay][COCNumber]"
                                   class="input-text field"
                                   type="text"
                                   data-bind="
                                       valueUpdate: 'keyup',
                                       value: CocNumber,
                                       attr: {
                                            'data-validate': JSON.stringify({
                                                'required': true,
                                                'minlength': 8
                                            }),
                                        }">
                        </div>
                    </div>

                    <div class="field required b2b-fields" >
                        <label class="label" for="tig_buckaroo_afterpay_CompanyName"> <span data-bind="i18n: 'Company Name:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_CompanyName"
                                   name="payment[tig_buckaroo_afterpay][CompanyName]"
                                   class="input-text field"
                                   type="text"
                                   data-bind="
                                       valueUpdate: 'keyup',
                                       value: CompanyName,
                                       attr: { 'data-validate': JSON.stringify({ 'required': true, 'min-words': 1 })
                                        }">
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- Default -->
                    <div class="field required">
                        <label class="label" for="tig_buckaroo_afterpay_TermsCondition"> <span data-bind="i18n: 'Terms and Conditions:'"> </span> </label>
                        <div class="control">
                            <input id="tig_buckaroo_afterpay_TermsCondition"
                                   class="field"
                                   type="checkbox"
                                   data-bind="
                                   checked: termsValidate,
                                   attr: { 'data-validate': JSON.stringify({ 'required': true})}"
                                   name="payment[tig_buckaroo_afterpay][termsCondition]">
                            <span>
                                <a target="_blank"
                                   data-bind="
                                       i18n: 'Yes, I accept the terms and condition for the use of Afterpay.',
                                       attr: { 'href': termsUrl }
                                   ">
                                </a>
                            </span>
                            <div for="tig_buckaroo_afterpay_TermsCondition" generated="true" class="mage-error" id="tig_buckaroo_afterpay_TermsCondition-error" style="display: none;"><span data-bind="i18n: 'This is a required field.' "></span></div>
                        </div>
                    </div>

                    <div class="field">
                        <span data-bind="i18n: 'Please make sure all fields are filled in correctly before proceeding.' ">  </span>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() || !buttoncheck() }
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

    </div>
</div>
