<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Buckaroo Magento 2 payment module (https://www.buckaroo.eu/)
 *
 * Copyright (c) Buckaroo B.V.
 * See LICENSE for license details.
 *
 * Support: support@buckaroo.nl
 *
 * @copyright Copyright (c) Buckaroo B.V.
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Buckaroo_Magento2::buckaroo_giftcards"
             title="Buckaroo Giftcards"
             module="Buckaroo_Magento2"
             sortOrder="100"
             resource="Magento_Backend::content"
             parent="Magento_Backend::other_settings"
             action="buckaroo/giftcard"
        />
        <add id="Buckaroo_Magento2::buckaroo_magento2_log"
             title="Buckaroo Log"
             module="Buckaroo_Magento2"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Magento_Backend::other_settings"
             action="buckaroo_magento2/log/index"
        />
    </menu>
</config>
