<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Buckaroo Magento 2 payment module (https://www.buckaroo.eu/)
 *
 * Copyright (c) Buckaroo B.V.
 * See LICENSE for license details.
 *
 * Support: support@buckaroo.nl
 *
 * @copyright Copyright (c) Buckaroo B.V.
 * @license   MIT
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="buckaroo" frontName="buckaroo">
            <module name="Buckaroo_Magento2" before="Magento_Adminhtml" />
        </route>
        <route frontName="buckaroo_magento2" id="buckaroo_magento2">
            <module before="Magento_Backend" name="Buckaroo_Magento2"/>
        </route>
    </router>
</config>
