
/* ===================== Default / Overwrite Styling ============================= */

.payment-method-second-col input[type="date"] {
    background      :#ffffff;
    background-clip :padding-box;
    border          :1px solid #c2c2c2;
    border-radius   :1px;
    font-family     :'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size       :14px;
    height          :32px;
    line-height     :1.42857143;
    padding         :0 9px;
    vertical-align  :baseline;
    width           :100%;
    box-sizing      :border-box;
}

.payment-method,
.payment-method-content,
.payment-method-billing-address,
.checkout-agreements-block,
.actions-toolbar{ clear:both; }

.payment-method-second-col {
    float:left; width: 100%; margin-bottom: 20px;
}

.action.action-update {
    margin-top: 20px;
}

@media screen and (min-width: 1200px ){
    .magento-blank .label-style{
        padding: 6px 15px 0 0 !important;
        text-align: left !important;
        width: 100% !important;
        box-sizing: border-box !important;
        float: left !important;
    }

    .payment-method-content {
        width: 100%; box-sizing:border-box;
    }

    .magento-blank .payment-method-billing-address {
        margin-top: 6px;
    }

    .tig_buckaroo_ideal .payment-method-second-col,
    .tig_buckaroo_idealprocessing .payment-method-second-col,
    .tig_buckaroo_creditcard .payment-method-second-col,
    .tig_buckaroo_transfer .payment-method-second-col,
    .tig_buckaroo_afterpay .payment-method-second-col,
    .tig_buckaroo_afterpay2 .payment-method-second-col,
    .tig_buckaroo_sepadirectdebit .payment-method-second-col,
    .tig_buckaroo_giropay .payment-method-second-col,
    .tig_buckaroo_payperemail .payment-method-second-col,
    .tig_buckaroo_paymentguarantee .payment-method-second-col
    {
        float:left;
        width: 50%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    .tig_buckaroo_ideal .payment-method-billing-address,
    .tig_buckaroo_idealprocessing .payment-method-billing-address,
    .tig_buckaroo_creditcard .payment-method-billing-address,
    .tig_buckaroo_transfer .payment-method-billing-address,
    .tig_buckaroo_afterpay .payment-method-billing-address,
    .tig_buckaroo_afterpay2 .payment-method-billing-address,
    .tig_buckaroo_sepadirectdebit .payment-method-billing-address,
    .tig_buckaroo_giropay .payment-method-billing-address,
    .tig_buckaroo_payperemail .payment-method-billing-address,
    .tig_buckaroo_paymentguarantee .payment-method-billing-address
    {
        float:left;
        width: 50%;
        padding-right: 5%;
        box-sizing: border-box;
        clear:none;
    }
}

@media screen and (min-width: 768px){
    .magento-blank .tig_buckaroo_ideal .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_idealprocessing .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_creditcard .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_transfer .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_afterpay .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_afterpay2 .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_sepadirectdebit .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_giropay .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_payperemail .fieldset > .field:not(.choice) > .label,
    .magento-blank .tig_buckaroo_paymentguarantee .fieldset > .field:not(.choice) > .label
    {
        padding: 6px 15px 0 0 !important;
        text-align: left !important;
        width: 100% !important;
        box-sizing: border-box !important;
        float: left !important;
    }

    .magento-blank .tig_buckaroo_ideal .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_idealprocessing .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_creditcard .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_transfer .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_afterpay .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_afterpay2 .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_sepadirectdebit .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_giropay .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_payperemail .fieldset > .field:not(.choice) > .control,
    .magento-blank .tig_buckaroo_paymentguarantee .fieldset > .field:not(.choice) > .control
    {
        width: 100% !important;
        float: left !important;
        margin-top: 10px !important;
    }

    .magento-blank .tig_buckaroo_ideal .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_idealprocessing .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_creditcard .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_transfer .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_afterpay .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_afterpay2 .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_sepadirectdebit .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_giropay .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_payperemail .fieldset > .field.choice:before,
    .magento-blank .tig_buckaroo_paymentguarantee .fieldset > .field.choice:before
    {
        padding:0 !important;
        width: auto !important;
    }

}

.tig_buckaroo_currency-notification {
    text-align:right;
    margin-top:15px;
    font-size:12px;
}
.tig_buckaroo_currency-notification:before {
    content: '*';
}


/* ===================== PayPal =============================== */
.tig_buckaroo_paypal .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_paypal_title.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 30px;
    width: 30px;
    height: 30px;
    content: ' ';
}

/* ===================== iDeal ================================ */
.tig_buckaroo_ideal .payment-method-second-col .bank-types,
.tig_buckaroo_idealprocessing .payment-method-second-col .bank-types{
    float:left; width: 100%;
}
.tig_buckaroo_ideal .payment-method-second-col .bank-types-img,
.tig_buckaroo_idealprocessing .payment-method-second-col .bank-types-img{
    vertical-align:middle;
    margin-right:10px;
}
.tig_buckaroo_ideal .payment-method-second-col .bank-types-input,
.tig_buckaroo_idealprocessing .payment-method-second-col .bank-types-input{
    margin-top:10px;
}

.tig_buckaroo_ideal .tig_buckaroo_image_title:after,
.tig_buckaroo_idealprocessing .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_ideal_title.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: -1px;
    background-size: auto 25px;
    width: 30px;
    height: 25px;
    content: ' ';
}

/* ===================== Credit Card =========================== */
.tig_buckaroo_creditcard .payment-method-second-col .card-types{
    float:left; width: 100%;
}
.tig_buckaroo_creditcard .payment-method-second-col .card-types-img{
    vertical-align:middle;
    margin-right:10px;
}
.tig_buckaroo_creditcard .payment-method-second-col .card-types-input{
    margin-top:10px;
}

.tig_buckaroo_creditcard .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_creditcard_title.png) no-repeat;
    margin-top: -1px;
    float: right;
    margin-right: 10px;
    background-size: auto 22px;
    width: 35px;
    height: 25px;
    content: ' ';
}

/* ===================== Sepa Direct Debit  ============================= */
.tig_buckaroo_sepadirectdebit .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_sepa_title.png) no-repeat;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
    background-size: auto 15px;
    width: 40px;
    height: 20px;
    content: ' ';
}

/* ===================== Bank Transfer ==================== */
.tig_buckaroo_transfer .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_transfer_title.png) no-repeat;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
    background-size: auto 15px;
    width: 40px;
    height: 20px;
    content: ' ';
}

/* ===================== Mr Cash ============================== */
.tig_buckaroo_mrcash .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_mrcash_title.png) no-repeat;
    margin-top: -2px;
    float: right;
    margin-right: 10px;
    background-size: auto 24px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* ===================== Sofort ======================= */
.tig_buckaroo_sofortbanking .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_sofort_title.png) no-repeat;
    margin-top: -7px;
    float: right;
    margin-right: 10px;
    background-size: auto 37px;
    width: 55px;
    height: 37px;
    content: ' ';
}

/* ===================== Giropay ============================== */
.tig_buckaroo_giropay .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_giropay_title.png) no-repeat;
    margin-top: 3px;
    float: right;
    margin-right: 10px;
    background-size: auto 17px;
    width: 41px;
    height: 20px;
    content: ' ';
}

/* ===================== Giftcard ============================ */
.tig_buckaroo_giftcard .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_giftcard_title.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: -2px;
    background-size: auto 25px;
    width: 41px;
    height: 25px;
    content: ' ';
}

/* ===================== Afterpay ============================ */
.tig_buckaroo_afterpay .tig_buckaroo_image_title:after,
.tig_buckaroo_afterpay2 .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_afterpay_title.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-size: auto 16px;
    width: 83px;
    height: 25px;
    content: ' ';
}

.tig_buckaroo_afterpay .payment-method-second-col input:disabled,
.tig_buckaroo_afterpay2 .payment-method-second-col input:disabled {
    color: #999;
    background: #f2f2f2;
    border: 1px solid #b6b6b6;
    opacity: 1;
}

#Saluation {
    /*float:left; */
    /*width: 100%; */
    padding-left: 10px;
    /*margin-top: 4px; */
}
#Saluation li {
    list-style:none;
    /*float:left; width: 30%; */
}


/* ===================== PayPerEmail ============================ */
.tig_buckaroo_payperemail .tig_buckaroo_image_title:after {
    /*background: url(../images/tig_buckaroo_payperemail_title.png) no-repeat; TODO: add PPE image */
    float: right;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 41px;
    height: 25px;
    content: ' ';
}

/* ======================= PaymentGuarantee ======================== */
.tig_buckaroo_paymentguarantee .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_paymentguarantee_title.png) no-repeat;
    float             : right;
    margin-right      : 10px;
    margin-top        : -2px;
    width             : 68px;
    height            : 26px;
    background-size   : auto 23px;
    content           : ' ';
}

.tig_buckaroo_paymentguarantee .payment-method-second-col input:disabled {
    color: #999;
    background: #f2f2f2;
    border: 1px solid #b6b6b6;
    opacity: 1;
}

/* ======================= EPS ======================== */
.tig_buckaroo_eps .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_eps_title.png) no-repeat;
    float: right;
    margin-right: 3px;
    margin-top: -6px;
    background-size: auto 30px;
    width: 45px;
    height: 30px;
    content: ' ';
}

/* ======================= Payconiq ======================== */
#tig_buckaroo_payconiq_container {
    position: relative;
    text-align: center;
    z-index: 150;
}

#tig_buckaroo_payconiq_container #tig_buckaroo_payconiq_items {
    display: inline-block;
    max-width: 310px;
    text-align: right;
}

#tig_buckaroo_payconiq_container #tig_buckaroo_payconiq_cancel {
    min-height: 32px;
}

.tig_buckaroo_payconiq .tig_buckaroo_image_title:after {
    background: url(../images/tig_buckaroo_payconiq_title.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    background-size: auto 15px;
    width: 104px;
    height: 30px;
    content: ' ';
}

/* =============================================================== */
/* ========== Responsive replacement -> payment logo's =========== */
/* =============================================================== */

@media screen and (max-width: 480px) {
    .tig_buckaroo_image_title.label:after {
        display:none;
    }

    /* PayPal */
    .tig_buckaroo_paypal .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_paypal_title.png) no-repeat;
        float: left;
        margin-right: 10px;
        margin-top: -4px;
        background-size: auto 30px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* iDeal */
    .tig_buckaroo_ideal .tig_buckaroo_image_title:before,
    .tig_buckaroo_idealprocessing .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_ideal_title.png) no-repeat;
        float: left;
        margin-right: 10px;
        margin-top: -1px;
        background-size: auto 25px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Credit Card */
    .tig_buckaroo_creditcard .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_creditcard_title.png) no-repeat;
        margin-top: 0;
        float: left;
        margin-right: 10px;
        background-size: auto 20px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Sepa Direct Debit */
    .tig_buckaroo_sepadirectdebit .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_sepa_title.png) no-repeat;
        margin-top: 4px;
        float:left;
        margin-right: 10px;
        background-size: auto 14px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Bank Transfer */
    .tig_buckaroo_transfer .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_transfer_title.png) no-repeat;
        margin-top: 4px;
        float:left;
        margin-right: 10px;
        background-size: auto 14px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Mr Cash */
    .tig_buckaroo_mrcash .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_mrcash_title.png) no-repeat;
        margin-top: -1px;
        float: left;
        margin-right: 10px;
        background-size: auto 23px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Sofort */
    .tig_buckaroo_sofortbanking .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_sofort_title.png) no-repeat;
        margin-top: -1px;
        float:left;
        margin-right: 10px;
        background-size: auto 24px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Giropay */
    .tig_buckaroo_giropay .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_giropay_title.png) no-repeat;
        margin-top: 2px;
        float:left;
        margin-right: 10px;
        background-size: auto 17px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Giftcard */
    .tig_buckaroo_giftcard .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_giftcard_title.png) no-repeat;
        margin-top: -1px;
        float: left;
        margin-right: 10px;
        background-size: auto 23px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Afterpay */
    .tig_buckaroo_afterpay .tig_buckaroo_image_title:before,
    .tig_buckaroo_afterpay2 .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_afterpay_title.png) no-repeat;
        margin-top: 6px;
        float: left;
        margin-right: 10px;
        background-size: auto 8px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* PayPerEmail */
    .tig_buckaroo_payperemail .tig_buckaroo_image_title:before {
        /*background: url(../images/tig_buckaroo_payperemail_title.png) no-repeat; TODO: add PPE image */
        margin-top: -1px;
        float: left;
        margin-right: 10px;
        background-size: auto 24px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* PaymentGuarantee */
    .tig_buckaroo_paymentguarantee .tig_buckaroo_image_title:before {
        margin-top: -4px;
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 31px;
        background :url(../images/tig_buckaroo_paymentguarantee_title_small.png) no-repeat 5px 0;
        background-size: auto 27px;
        content: ' ';
    }

    /* EPS */
    .tig_buckaroo_eps .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_eps_title.png) no-repeat;
        margin-top: -4px;
        float: left;
        margin-right: 10px;
        background-size: auto 30px;
        width: 40px;
        height: 30px;
        content: ' ';
    }

    /* Payconiq */
    .tig_buckaroo_payconiq .tig_buckaroo_image_title:before {
        background: url(../images/tig_buckaroo_payconiq_title.png) no-repeat;
        margin-top: -1px;
        float: left;
        margin-right: 10px;
        background-size: auto 19px;
        width: 40px;
        height: 30px;
        content: ' ';
    }
}
