.bk-payment-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bk-img-wrap {
    width: 50px;
    margin-right:10px;
    align-items: center;
    display: flex;
}
.bk-radio-wrap {
    flex: auto;
    display: flex;
    align-items: center;
}
.bk-description {
    margin:0;
    color:#757575;
    display: block;
    font-size: 1.35rem;
}
.bk-mrcash {
    margin-top: 10px;
}
.checkout-payment-method .payment-method-title.bk-payment {
    padding: 15px 0;
}
@media screen and (max-width: 480px) {
    .bk-payment-wrap {
        flex-direction: row-reverse;
    }
    .checkout-payment-method .payment-method-title.bk-payment {
        padding: 15px;
    }
}

#ui-datepicker-div.bk-datepicker {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px rgba(0,0,0,.35);
    padding: 10px;
    width: 240px;
}
#ui-datepicker-div.bk-datepicker table,
#ui-datepicker-div.bk-datepicker th,
#ui-datepicker-div.bk-datepicker thead tr {
    background:none;
    border: none;
    text-transform: capitalize;
    text-align: center;
}
#ui-datepicker-div.bk-datepicker .ui-state-disabled,
#ui-datepicker-div.bk-datepicker tbody td {
    background:#f2f4f5;
    border: 1px solid #fff;
    border-radius:5px;
}

#ui-datepicker-div.bk-datepicker tbody td a {
  text-align:center;
}


#ui-datepicker-div.bk-datepicker .ui-datepicker-header {
    padding: 0;
    margin: 5px 0;
}

/* ===================== Default / Overwrite Styling ============================= */

.payment-method-second-col input[type="date"] {
    background      :#ffffff;
    background-clip :padding-box;
    border          :1px solid #c2c2c2;
    border-radius   :1px;
    font-family     :'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size       :14px;
    height          :32px;
    line-height     :1.42857143;
    padding         :0 9px;
    vertical-align  :baseline;
    width           :100%;
    box-sizing      :border-box;
}

.payment-method,
.payment-method-content,
.payment-method-billing-address,
.checkout-agreements-block,
.actions-toolbar{ clear:both; }

.actions-toolbar.creditcards .primary .action.primary{
    width: 100%;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}

.actions-toolbar.creditcards .primary a {
    color: #6b7280; /* Gray text */
    text-decoration: none;
    cursor: pointer;
}

.actions-toolbar.creditcards .primary a:hover {
    color: #374151; /* Darker gray on hover */
}

.payment-method-second-col {
    float:left; width: 100%; margin-bottom: 20px;
}

.payment-method-second-col .fieldset > .field > .label {
    font-weight: normal;
}

.payment-method-second-col input:disabled {
    background-color: #e3e3e3;
    color: #6e6e6e;
    opacity: 1;
}
.payment-method-second-col input,
.payment-method-second-col select {
    border-radius: 5px;
    background-color: #fefefe;
}
.payment-method-second-col input:focus,
.payment-method-second-col select:focus,
.payment-method-second-col input.mage-error:focus,
.payment-method-second-col select.mage-error:focus {
    box-shadow: none;
    border-bottom: 2px solid #007bff;
}

.payment-method-second-col input.mage-error,
.payment-method-second-col select.mage-error {
    border:1px solid #c2c2c2;
    border-bottom: 2px solid #dc3545;
}

.payment-method-second-col input.valid,
.payment-method-second-col select.valid {
    border:1px solid #c2c2c2;
    border-bottom: 2px solid #28a745;
}
.action.action-update {
    margin-top: 20px;
}

.payment-method-second-col input::placeholder {
    color: #c0c0c0;
    opacity: 1;
}

.payment-method-second-col input:-ms-input-placeholder {
    color: #c0c0c0;
}

.payment-method-second-col input::-ms-input-placeholder {
    color: #c0c0c0;
}

@media screen and (min-width: 1200px ){
    .magento-blank .label-style{
        padding: 6px 15px 0 0 !important;
        text-align: left !important;
        width: 100% !important;
        box-sizing: border-box !important;
        float: left !important;
    }

    .payment-method-content {
        width: 100%; box-sizing:border-box;
    }

    .magento-blank .payment-method-billing-address {
        margin-top: 6px;
    }

    .buckaroo_magento2_ideal .payment-method-second-col,
    .buckaroo_magento2_idealprocessing .payment-method-second-col,
    .buckaroo_magento2_creditcard .payment-method-second-col,
    .buckaroo_magento2_creditcards .payment-method-second-col,
    .buckaroo_magento2_transfer .payment-method-second-col,
    .buckaroo_magento2_afterpay .payment-method-second-col,
    .buckaroo_magento2_afterpay2 .payment-method-second-col,
    .buckaroo_magento2_afterpay20 .payment-method-second-col,
    .buckaroo_magento2_billink .payment-method-second-col,
    .buckaroo_magento2_sepadirectdebit .payment-method-second-col,
    .buckaroo_magento2_payperemail .payment-method-second-col,
    .buckaroo_magento2_klarna .payment-method-second-col,
    .buckaroo_magento2_klarnakp .payment-method-second-col,
    .buckaroo_magento2_klarnain .payment-method-second-col,
    .buckaroo_magento2_emandate .payment-method-second-col,
    .buckaroo_magento2_applepay .payment-method-second-col,
    .buckaroo_magento2_capayablein3 .payment-method-second-col,
    .buckaroo_magento2_capayablepostpay .payment-method-second-col,
    .buckaroo_magento2_mrcash .payment-method-second-col,
    .buckaroo_magento2_voucher .payment-method-second-col,
    .buckaroo_magento2_paybybank .payment-method-second-col,
    .buckaroo_magento2_mbway .payment-method-second-col,
    .buckaroo_magento2_multibanco .payment-method-second-col,
    .buckaroo_magento2_knaken .payment-method-second-col
    {
        float:left;
        width: 50%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    .buckaroo_magento2_ideal .payment-method-billing-address,
    .buckaroo_magento2_idealprocessing .payment-method-billing-address,
    .buckaroo_magento2_creditcard .payment-method-billing-address,
    .buckaroo_magento2_creditcards .payment-method-billing-address,
    .buckaroo_magento2_transfer .payment-method-billing-address,
    .buckaroo_magento2_afterpay .payment-method-billing-address,
    .buckaroo_magento2_afterpay2 .payment-method-billing-address,
    .buckaroo_magento2_afterpay20 .payment-method-billing-address,
    .buckaroo_magento2_billink .payment-method-billing-address,
    .buckaroo_magento2_sepadirectdebit .payment-method-billing-address,
    .buckaroo_magento2_payperemail .payment-method-billing-address,
    .buckaroo_magento2_klarna .payment-method-billing-address,
    .buckaroo_magento2_klarnakp .payment-method-billing-address,
    .buckaroo_magento2_klarnain .payment-method-billing-address,
    .buckaroo_magento2_emandate .payment-method-billing-address,
    .buckaroo_magento2_applepay .payment-method-billing-address,
    .buckaroo_magento2_capayablein3 .payment-method-billing-address,
    .buckaroo_magento2_capayablepostpay .payment-method-billing-address,
    .buckaroo_magento2_mrcash .payment-method-billing-address,
    .buckaroo_magento2_voucher .payment-method-billing-address,
    .buckaroo_magento2_paybybank .payment-method-billing-address,
    .buckaroo_magento2_mbway .payment-method-billing-address,
    .buckaroo_magento2_multibanco .payment-method-billing-address,
    .buckaroo_magento2_all_creditcard .payment-method-billing-address,
    .buckaroo_magento2_knaken .payment-method-billing-address
    {
        float:left;
        width: 50%;
        padding-right: 5%;
        box-sizing: border-box;
        clear:none;
    }
}

@media screen and (min-width: 768px){
    .magento-blank .buckaroo_magento2_ideal .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_idealprocessing .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_creditcard .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_creditcards .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_transfer .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_afterpay .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_afterpay2 .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_afterpay20 .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_billink .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_sepadirectdebit .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_payperemail .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_klarna .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_klarnakp .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_klarnain .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_emandate .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_applepay .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_capayablein3 .fieldset > .field:not(.choice) > .label,
    .magento-blank .buckaroo_magento2_capayablepostpay .fieldset > .field:not(.choice) > .label
    {
        padding: 6px 15px 0 0 !important;
        text-align: left !important;
        width: 100% !important;
        box-sizing: border-box !important;
        float: left !important;
    }

    .magento-blank .buckaroo_magento2_ideal di.fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_idealprocessing .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_creditcard .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_creditcards .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_transfer .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_afterpay .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_afterpay2 .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_afterpay20 .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_billink .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_sepadirectdebit .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_payperemail .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_klarna .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_klarnakp .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_klarnain .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_emandate .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_applepay .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_capayablein3 .fieldset > .field:not(.choice) > .control,
    .magento-blank .buckaroo_magento2_capayablepostpay .fieldset > .field:not(.choice) > .control
    {
        width: 100% !important;
        float: left !important;
        margin-top: 10px !important;
    }

    .magento-blank .buckaroo_magento2_ideal .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_idealprocessing .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_creditcard .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_creditcards .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_transfer .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_afterpay .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_afterpay2 .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_afterpay20 .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_billink .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_sepadirectdebit .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_payperemail .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_klarna .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_klarnakp .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_klarnain .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_emandate .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_applepay .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_capayablein3 .fieldset > .field.choice:before,
    .magento-blank .buckaroo_magento2_capayablepostpay .fieldset > .field.choice:before
    {
        padding:0 !important;
        width: auto !important;
    }

}

.buckaroo_magento2_currency-notification {
    text-align:right;
    margin-top:15px;
    font-size:12px;
}
.buckaroo_magento2_currency-notification:before {
    content: '*';
}
/* ===================== iDeal ================================ */
.buckaroo_magento2_ideal .payment-method-second-col .bank-types,
.buckaroo_magento2_emandate .payment-method-second-col .bank-types,
.buckaroo_magento2_idealprocessing .payment-method-second-col .bank-types {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.buckaroo_magento2_ideal .payment-method-second-col .bank-types-img,
.buckaroo_magento2_emandate .payment-method-second-col .bank-types-img,
.buckaroo_magento2_idealprocessing .payment-method-second-col .bank-types-img {
    margin-right:10px;
}

/* ===================== Credit Card =========================== */

.buckaroo_magento2_creditcards .payment-method-second-col .card-types,
.buckaroo_magento2_creditcard .payment-method-second-col .card-types{
    float:left; width: 100%;
}

.buckaroo_magento2_creditcards .payment-method-second-col .card-types-img,
.buckaroo_magento2_creditcard .payment-method-second-col .card-types-img {
    vertical-align:middle;
    margin-right:10px;
}

.buckaroo_magento2_creditcards .payment-method-second-col .card-types-input,
.buckaroo_magento2_creditcard .payment-method-second-col .card-types-input {
    margin-top:10px;
}




/* ===================== Giftcard ============================ */

.buckaroo_magento2_image_title_custom:after {
    background: none!important;
    width: 1px!important;
    height: 1px!important;
}

.buckaroo_magento2_logo {
    float: right;
    width: auto;
    max-width: 50px;
    margin-top: -7px;
    max-height: 40px;
    margin-right: 5px;
}

.buckaroo_magento2_afterpay .payment-method-second-col input:disabled,
.buckaroo_magento2_afterpay2 .payment-method-second-col input:disabled,
.buckaroo_magento2_afterpay20 .payment-method-second-col input:disabled{
    color: #999;
    background: #f2f2f2;
    border: 1px solid #b6b6b6;
    opacity: 1;
}


/* ===================== Billink ============================ */
.buckaroo_magento2_billink .payment-method-second-col input:disabled{
    color: #999;
    background: #f2f2f2;
    border: 1px solid #b6b6b6;
    opacity: 1;
}


/* ======================= Payconiq ======================== */
#buckaroo_magento2_payconiq_container {
    position: relative;
    text-align: center;
    z-index: 150;
}

#buckaroo_magento2_payconiq_container #buckaroo_magento2_payconiq_items {
    display: inline-block;
    max-width: 310px;
    text-align: right;
}

#buckaroo_magento2_payconiq_container #buckaroo_magento2_payconiq_cancel {
    min-height: 32px;
}


/* ======================= Klarna ======================== */
.buckaroo_magento2_klarna .payment-method-second-col input:disabled,
.buckaroo_magento2_klarnakp .payment-method-second-col input:disabled,
.buckaroo_magento2_klarnain .payment-method-second-col input:disabled {
    color: #999;
    background: #f2f2f2;
    border: 1px solid #b6b6b6;
    opacity: 1;
}

#Saluation {
    /*float:left; */
    /*width: 100%; */
    padding-left: 10px;
    /*margin-top: 4px; */
}
#Saluation li {
    list-style: none;
    /*float:left; width: 30%; */
}


/* ================================================================================================================== */
/* Creditcards ====================================================================================================== */
/* ================================================================================================================== */
.bk-credicards {
    width: 100%;
}
.bk-creditcards .fieldset .label {
    margin-bottom: 4px;
}
.bk-card-number-input-wrap .control input {
    width: 100%;
}

.bk-card-number-input-wrap {
    position: relative;
}
.bk-card-image {
    position: absolute;
    right: 5px;
    top: 5px;
}
.bk-card-date-wrap,
.bk-cvc-date-wrap {
    display: flex;
    justify-content: space-between;
}
.bk-date {
    margin-right: 5px;
}
.bk-cvc {
    margin-left: 5px;
}

.bk-card-date-wrap .bk-date {
    margin: 0 0 0 5px;
    flex: 4;
}
.bk-card-number {
    margin-right: 5px;
    flex: 6;
}
/*======================end creditcards======================================*/
.giftcard-delete:before {
    font-size: 18px;
    line-height: 20px;
    color: #757575;
    content: '\e604';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    cursor: pointer;
}

#bancontactMobilePopup {
    z-index: 200;
}

#buckaroo_magento2_mrcash_qr {
    text-align: center;
}

#buckaroo_magento2_payconiq_container #buckaroo_magento2_mrcash_items {
    display: inline-block;
    max-width: 500px;
}

#buckaroo_magento2_payconiq_container #buckaroo_magento2_mrcash_cancel {
    min-height: 32px;
    margin-top: 20px;
    float: right;
}

#buckaroo_magento2_afterpay_DoB-error,
#buckaroo_magento2_afterpay2_DoB-error{
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px
}

#checkout-step-idin{
    padding: 10px;
    background: #d4eded;
    display: inline-block;
    width: 100%;
}

.onestepcheckout-index-index #checkout-step-idin {
    width: inherit;
}

.buckaroo_idin_left{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.buckaroo_idin_left img{
    float: left;
}

.buckaroo_idin_left span{
    height: 50px;
    vertical-align: middle;
    padding-left: 5px;
    display: table-cell;
}

.buckaroo_idin_right{
    width: 50%;
    float: right;
}

#idin-verification{
    margin-top: 5px;
    width: 100%;
}

.opc-wrapper #step_idin{
    clear: both;
    display: inline-block!important;
    padding-left:10px;
}

.onestepcheckout-index-index .opc-wrapper #step_idin {
    padding-left: 0px;
    margin-bottom: 10px;
}

.buckaroo_magento2_all_giftcards, .buckaroo_magento2_all_creditcards{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* paybybank */

.bk-toggle-down {
    background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z' fill='%230D0D0D'/%3E%3C/svg%3E%0A");
}
.bk-toggle-up {
    background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.293 7.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1-1.414 1.414L12 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414l6-6z' fill='%230D0D0D'/%3E%3C/svg%3E%0A");
}
.bk-toggle {
    height: 20px;
    width: 20px;
}
.bk-toggle-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .buckaroo_magento2_paybybank .billing-address-form
    {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bk-paybybank-toggle-list {
        display: flex;
        justify-content: center;
        height: 20px;
        margin:10px 0;
        width: 100%;
    }

    .bk-toggle-text {
        margin-left: 10px;
        font-weight: bold;
    }
    .bk-paybybank-selector {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .bk-paybybank-selector .radio-group-required {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .bk-paybybank-selector .bank-control {
        flex: 25% 0;
        min-width: 55px;
    }
    .bk-paybybank-selector .bank-method-label.bk-bank-selected {
        background-color: #EDEDED;
        color: #000;
        border-radius: 5px;
    }
    .bk-paybybank-selector .bank-method-label {
        padding-bottom: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        align-items: center;
    }
    .bk-paybybank-selector .bank-method-label strong {
            display: block;
            text-align: center;
            font-size: 12px;
            flex: 100% 0 0;
    }
    .fieldset > .field .addon .bk-paybybank-selector .bank-method-input {
        display:none;
    }
}
