<?xml version="1.0"?>
<!-- Loaded only if Onestepcheckout_Iosc is active -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Onestepcheckout\Iosc\Plugin\GuestSaveManager"
                type="Buckaroo\Magento2\Plugin\GuestSaveManager"/>
</config>
