name: Icon update
on:
  push:
    branches: [develop, feature/payment_provider_gateway]
  pull_request:
    branches: [develop, feature/payment_provider_gateway]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clone media repository
        run: |
            git clone https://github.com/buckaroo-it/Media
            ls -lah
      - name: Rename all files to lowercase
        run: |
            cd Media
            cp ${{ github.workspace }}/.github/workflows/rename-icons.php ${{ github.workspace }}/Media/rename-icons.php
            php  ./rename-icons.php
      - name: Copy payment method icons
        run: |
            cd "${{ github.workspace }}/Media/Payment methods/SVG/"
            rm -f ideal-qr.svg paybybank.svg pos-nfc.svg
            cd ${{ github.workspace }}/Media
            cp -R "Payment methods/SVG/." ${{ github.workspace }}/view/base/web/images/svg/
      - name: Copy creditcards icons
        run: |
            cd Media
            cp -R "Creditcard issuers/SVG/." ${{ github.workspace }}/view/base/web/images/creditcards/
      - name: Copy giftcards icons
        run: |
            cd "${{ github.workspace }}/Media/Giftcards/SVG/"
            rm -f vvvlekkerweg.svg vvvshopchill.svg
            cd ${{ github.workspace }}/Media
            cp -R "Giftcards/SVG/." ${{ github.workspace }}/view/base/web/images/giftcards/
      - name: Copy payment issuers icons
        run: |
            cd Media
            cp -R "iDEAL bank issuers/SVG/." ${{ github.workspace }}/view/base/web/images/ideal/
      - name: Copy Identification methods icons
        run: |
          cd "${{ github.workspace }}/Media/Identification methods/SVG/"
          rm -f pim.svg
          cp -R ./. ${{ github.workspace }}/view/base/web/images/
      - name: Cleanup
        run: |
            rm -rd Media
      - name: Create commit if we have changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply logo changes from media repository
