name: M2 Integration Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration-tests:
    name: Magento 2 Integration Tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --tmpfs /tmp:rw --tmpfs /var/lib/mysql:rw --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      es:
        image: opensearchproject/opensearch:2.5.0
        ports:
          - 9200:9200
        env:
          discovery.type: single-node
          plugins.security.disabled: true
          OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
          DISABLE_INSTALL_DEMO_CONFIG: true
          compatibility.override_main_response_version: true
        options: --health-cmd="curl -f localhost:9200/_cluster/health?wait_for_status=yellow&timeout=60s" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - uses: actions/checkout@v4
      - name: M2 Integration Tests with Magento 2.4.8-p3 (PHP 8.4)
        uses: extdn/github-actions-m2/magento-integration-tests/8.4@master
        with:
          module_name: Buckaroo_Magento2
          composer_name: buckaroo/magento2
          ce_version: '2.4.8-p3'
